@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
	html {  
    @apply text-neutral-50 bg-neutral-950;
		font-family: "Geist", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-style: normal;
		-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    
    font-size: 16px;
    
    @screen xl {
      font-size: 18px;
    }
    
    @screen 2xl {
      font-size: 22px;
    }
  
    
    ul {
      margin-left: -1.5rem !important;
    }
    @screen sm {
      ul {
        margin-left: -0.35rem !important;
      }
    }
  }

  * {
    min-width: 0;
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-neutral-800 scrollbar-corner-transparent;
  }
}
